<input class="form-control" data-ng-change="$ctrl.checkPassword($ctrl.password)"
       data-ng-model="$ctrl.password" data-ng-keyup="$ctrl.checkConfirmPassword()" id="password" name="password" placeholder="Password"
       style="margin-bottom:2px;" type="password" required>
<uib-progressbar data-max="$ctrl.viewModel.max" data-type="{{$ctrl.viewModel.type}}" data-value="$ctrl.viewModel.value"
                 style="margin-bottom:0px;">
    <span data-ng-class="{'black-text': $ctrl.viewModel.value == 0}">{{ $ctrl.viewModel.text }}</span>
</uib-progressbar>
<div class="validation-color" data-ng-hide="$ctrl.password.length == 0 || $ctrl.isValid" style="margin-bottom:15px;">
    Please enter a secure password
</div>