<input class="form-control" data-ng-change="passwordInput.checkPassword(passwordInput.password)" 
       data-ng-model="passwordInput.password" id="password" name="password" placeholder="Password" type="password" required>
<uib-progressbar value="passwordInput.viewModel.value" max="passwordInput.viewModel.max" type="{{passwordInput.viewModel.type}}">
    <span data-ng-class="{'black-text': passwordInput.viewModel.value == 0}">{{ passwordInput.viewModel.text }}</span>
</uib-progressbar>
{{ passwordInput.text }}