<div class="at-view-slide-in-left page-content page-app mailbox" style="margin-top:50px;">
    <section class="app">
        <aside class="aside-md emails-list">
            <section>
                <div class="mailbox-page clearfix">
                    <h1 class="pull-left">Inbox</h1>
                    <div class="append-icon">
                        <input type="text" class="form-control form-white pull-right" id="email-search" placeholder="Search...">
                        <i class="icon-magnifier"></i>
                    </div>
                </div>
                <ul class="nav nav-tabs text-left">
                    <li class="active f-left"><a href="#recent" data-toggle="tab">Recent</a></li>
                    <li class="f-left"><a href="#alphabetically" data-toggle="tab">Alphabetically</a></li>
                </ul>
                <div class="tab-content" style="height:776px;">
                    <div class="tab-pane fade in active" id="recent">
                        <div class="messages-list withScroll show-scroll mCustomScrollbar _mCS_68" data-padding="180" data-height="window" style="height:735px;">
                            <div class="mCustomScrollBox mCS-light" id="mCSB_68" style="position:relative; height:100%; overflow:hidden; max-width:100%;">
                                <div class="mCSB_container" style="position:relative; top:0;">
                                    <div class="message-item media" data-ng-repeat="message in $ctrl.viewModel.messages">
                                        <div class="media">
                                            <img src="img/avatars/avatar3_big.png" alt="avatar 3" width="40" class="sender-img">
                                            <div class="media-body">
                                                <div class="sender">{{message.nickname}}</div>
                                                <div class="subject">
                                                    <span class="subject-text">{{message.subject}}</span>
                                                </div>
                                                <div class="date">{{message.created_at | date}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mCSB_scrollTools" style="position: absolute; display: block;">
                                    <div class="mCSB_draggerContainer">
                                        <div class="mCSB_dragger" style="position: absolute; height: 30px; top: 0px;" oncontextmenu="return false;">
                                            <div class="mCSB_dragger_bar" style="position: relative; line-height: 30px;"></div>
                                        </div>
                                        <div class="mCSB_draggerRail"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </aside>
        <mail-message data-user="$ctrl.user"></mail-message>
    </section>
</div>