<!-- BEGIN SIDEBAR -->
<div class="sidebar sidebar-mailbox">
    <div class="logopanel">
        <h1>Mail on Rails</h1>
    </div>
    <div class="sidebar-inner">
        <div class="sidebar-top">
            <a data-ui-sref="mail.compose" data-ui-sref-opts="{reload: true}" class="btn btn-primary btn-compose">Compose</a>
        </div>
        <ul class="nav nav-sidebar">
            <li class="tm nav-active active">
                <a data-ui-sref="mail.inbox" data-ui-sref-opts="{reload: true}">
                    <span class="pull-right badge badge-primary">1</span>
                    <i class="icons-office-28"></i>
                    <span data-translate="inbox">Inbox</span>
                </a>
            </li>
            <!--<li class="tm">
                <a data-ui-sref="mail.sent">
                    <i class="icons-chat-messages-14"></i>
                    <span>Sent Mail</span>
                </a>
            </li>
            <li class="tm">
                <a data-ui-sref="mail.important">
                    <i class="icons-badges-votes-14"></i>
                    <span>Important</span>
                </a>
            </li>
            <li class="tm">
                <a data-ui-sref="mail.draft">
                    <span class="badge-rounded pull-right">4</span>
                    <i class="icons-office-13"></i><span>Draft</span>
                </a>
            </li>
            <li class="tm">
                <a data-ui-sref="mail.spam">
                    <i class="icons-alerts-05"></i>
                    <span>Spam</span>
                </a>
            </li>
            <li class="tm">
                <a data-ui-sref="mail.trash">
                    <i class="icons-office-57"></i>
                    <span>Trash</span>
                </a>
            </li>-->
        </ul>
    </div>
</div>
<!-- END SIDEBAR -->