<div class="email-details" style="display: table-cell;">
    <section>
        <div class="email-subject">
            <h1>Theory of <strong>Design</strong></h1>
            <div class="clearfix">
                <div class="go-back-list"><i data-rel="tooltip" data-placement="bottom" data-original-title="Back to email list" class="icon-arrow-left"></i></div>
                <p>from <strong><span class="sender">Sandra Merlin</span></strong> • <span class="date">16 January, 4:04pm</span></p>
                <div class="pos-rel pull-left">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-delay="300">
                        <i class=" icon-rounded-arrow-down-thin"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="reorder-menu">Delete email</a></li>
                        <li><a href="#" class="remove-menu">Move</a></li>
                        <li><a href="#" class="hide-top-sidebar">Print</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="email-details-inner withScroll mCustomScrollbar _mCS_21" data-height="window" data-padding="155" style="font-weight: normal; height: 760px;">
            <div class="mCustomScrollBox mCS-light" id="mCSB_21" style="position:relative; height:100%; overflow:hidden; max-width:100%;">
                <div class="mCSB_container" style="position:relative; top:0;">
                    <div class="email-content">
                        <p>Hi Steve,</p>
                        <p>Visual hierarchy is one of the most important principles behind effective web design. We will see how you can use some very basic exercises in your own designs to put these principles into practice.</p>
                        <blockquote class="blue">
                            <p><strong>Design is a funny word. Some people think design means how it looks. But of course, if you dig deeper, it's really how it works.</strong></p>
                        </blockquote>
                        <p>At it's core, design is all about visual communication: To be an effective designer, you have to be able to clearly communicate your ideas to viewers or else lose their attention.</p>
                        <div class="email-attachment clearfix">
                            <div class="attachments">
                                <span><i class="fa fa-file-image-o"></i> Home.jpg <span class="small">(10mb)</span></span>
                                <span><i class="fa fa-file-pdf-o"></i> Resume.pdf <span class="small">(5.2mb)</span></span>
                            </div>
                            <div class="attachments-actions">
                                <div class="move-attachments">
                                    <i class=" icon-rounded-arrow-left-thin"></i>
                                    <i class=" icon-rounded-arrow-right-thin"></i>
                                </div>
                                <div class="download-attachment">
                                    <i class="icon-rounded-download"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="answers">
                        <div class="answer-subject">
                            <h2 class="answer-title"></h2>
                            <p>from <strong>me</strong> • <span class="answer-date"></span></p>
                        </div>
                        <div class="answer-content"></div>
                    </div>
                    <div class="write-answer">
                        <div class="answer-textarea"></div>
                        <button id="save" class="btn btn-primary" type="button">Send</button>
                    </div>
                </div>
                <div class="mCSB_scrollTools" style="position: absolute; display: block; opacity: 0;">
                    <div class="mCSB_draggerContainer">
                        <div class="mCSB_dragger" style="position: absolute; height: 43px; top: 0px;" oncontextmenu="return false;">
                            <div class="mCSB_dragger_bar" style="position: relative; line-height: 43px;"></div>
                        </div>
                        <div class="mCSB_draggerRail"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>