<div class="at-view-slide-in-left page-content page-app mailbox" style="margin-top:50px;">
    <section class="app">
        <div class="email-details" style="display: table-cell;">
            <section>
                <div class="email-subject">
                    <h1 data-ng-class="$ctrl.subjectStyle()">{{$ctrl.viewModel.message.subject}}</h1>
                    <div class="clearfix">
                        <p>from <strong><span data-ng-class="$ctrl.senderStyle(message)">{{$ctrl.viewModel.message.from}}</span></strong> •
                            to <strong><span data-ng-class="$ctrl.senderStyle(message)">{{$ctrl.viewModel.message.to}}</span></strong> •
                            <span class="date">{{ctrl.viewModel.message.created_at | date}}</span></p>
                        <a aria-label="Back to {{$ctrl.viewModel.message.typeName}}" class="btn btn-primary btn-sm" 
                            data-toggle="tooltip" data-ui-sref="{{$ctrl.viewModel.returnRoute}}" data-ui-sref-opts="{reload: true}"
                            style="margin-bottom: 4px;" title="Back to {{$ctrl.viewModel.message.typeName}}">
                            <i class="fa fa-arrow-left fa-lg pull-left" aria-hidden="true"></i>
                        </a>

                        <a aria-label="Delete" class="btn btn-primary btn-sm" data-ng-click="$ctrl.deleteMessage()" 
                            data-toggle="tooltip" style="margin-bottom: 4px;" title="Delete">
                            <i class="fa fa-trash-o fa-lg pull-left" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="email-details-inner withScroll mCustomScrollbar _mCS_21" data-height="window" data-padding="155" style="font-weight: normal; height: 760px;">
                    <div class="mCustomScrollBox mCS-light" id="mCSB_21" style="position:relative; height:100%; overflow:hidden; max-width:100%;">
                        <div class="mCSB_container" style="position:relative; top:0;">
                            <div class="email-content" data-ng-bind-html="$ctrl.viewModel.message.body" style="margin-left: 0px">
                            </div>
                        </div>
                        <div class="mCSB_scrollTools" style="position: absolute; display: block; opacity: 0;">
                            <div class="mCSB_draggerContainer">
                                <div class="mCSB_dragger" style="position: absolute; height: 43px; top: 0px;" oncontextmenu="return false;">
                                    <div class="mCSB_dragger_bar" style="position: relative; line-height: 43px;"></div>
                                </div>
                                <div class="mCSB_draggerRail"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>