<home-header></home-header>

<!-- Page Content -->
<a name="services"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Compose</h2>
                <p class="lead">Clean and simple design to help in composing emails. <br> Instantly see changes you make with one of the most popular WYSIWYG editor on the market.
                    <br><br> Support for uploading images, font formatting (bold, italic, underling, color), hightlight text and more..</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/compose.png" alt="Compose">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Inbox</h2>
                <p class="lead">Intuitive design to view and manage emails you receive. Emails are listed with the name of the sender, the subject of the message, and the date received. <br><br>
                Assign contacts with a unique picture from a variety of characters.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/inbox.png" alt="Inbox">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->

<a name="contact"></a>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Contact:</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a class="btn btn-default btn-lg" href="https://github.com/HikaruJ/Mail_on_Rails" target="_blank">
                            <i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-default btn-lg" href="http://www.linkedin.com/in/or-perlman" target="_blank">
                            <i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->